

<div class="pager-container" ng-class="{'fade-in': photos.length > 0}">
    <div class="page-count">
        <span class="label label-primary">
            <span>Showing page</span>
            <span>{{currentPage}}</span>
            <span>of</span>
            <span>{{totalPages}}</span>
        </span>

    </div>
    <nav>
        <ul class="pager">
            <li class="previous"  ng-class="{disabled: currentPage === 1 || isLoading}" >
                <a href="" ng-disabled="currentPage === 1" ng-click="prevPage()"><span aria-hidden="true">&larr;</span> Previous</a>
            </li>
            <li class="next"  ng-class="{disabled: currentPage === totalPages || isLoading}">
                <a href="" ng-disabled="currentPage === totalPages" ng-click="nextPage()">Next <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
</div>

<div class="container find-photos">
    <div class="images">
        <figure class="flickr-img-container " ng-click="onPhotoClicked(photo)" ng-repeat="photo in photos"
             ng-class="{selected: isSelected(photo)}" repeat-post-process>
            <div class="mask"></div>
            <img class="img-thumbnail" ng-src="{{photo.url}}">
            <figcaption ng-hide="!showImgText" class="img-title">{{photo.title}}</figcaption>
        </figure>
    </div>
</div>
