/* app css stylesheet */
body {
    background-color: #000;
}

button {
    outline: none !important;
}

@font-face {
    font-family: 'Sprinklescolors';
    src: url('fonts/Sprinklescolors.ttf');
}

div[ng-view] {
    min-height: 1000px;
}

.my-photos,
.find-photos {
    padding-top: 100px;
}

.my-photos {
    min-height: 1000px;
    background: url("images/scrap2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
}

.navbar {
    background-color: #4C4B4F;
}

@media (min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;
    }
}

.img-drop {
    position: fixed;
    bottom: 0;
    height: 200px;
    border-radius: 4px 4px 0 0;
}

.footer .container {
    background-color: #101010;
    height: 100%;
}

.footer .text-muted {
    margin: 20px 0;
    text-align: center;
}

.flickr-img-container{
    float: left;
    -webkit-transition-duration: 0.1s;
    position: relative;
    margin: 10px;
}

.flickr-img-container.ui-draggable-dragging{
    -webkit-transition-duration: 0s;
}

.flickr-img-container img{
    padding:10px;
    border:1px solid #fff;
    pointer-events: none;
}

/*.flickr-img-container.selected:hover .mask,*/
.find-photos .flickr-img-container.selected .mask {
    -webkit-transition-duration: 0s;
    /*height:100%;*/
    background: url("images/checkmark13.svg") no-repeat;
    background-size: 100px;
}

.flickr-img-container.selected .img-thumbnail {
    /*border: 3px solid #ccc;*/
    /*border-radius: 4px;*/
    /*background-color: #00b3ee;*/
}

.find-photos .flickr-img-container.selected {
    -webkit-transform:scale(1.2);
}

.find-photos .flickr-img-container.selected,
.find-photos .flickr-img-container:hover{
    -webkit-transform:scale(1.3);
    -webkit-box-shadow:0px 0px 30px #ccc;
    cursor: pointer;
}

.flickr-img-container:hover {
    z-index: 1000;
}

.find-photos .flickr-img-container:active {
    -webkit-transform:scale(1.29);
    -webkit-transition-duration: 0s;
}



.flickr-img-container .mask{
    width: 100%;
    position: absolute;
    height: 100%;
    opacity:0.7;
    -webkit-transition-duration: 0.3s;
    background-color: black;
}

.flickr-img-container:hover .mask{
    height:0%;
}

.img-title {
    display: block;
    background-color: #fff;
    font-family: 'Sprinklescolors';
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    padding: 0 10px 10px 10px;
}

.img-thumbnail {
    border-radius: 4px 4px 0 0;
}

.photo-control-bar {
    float: right;
    position: relative;
}

.photo-control-bar img,
.photo-control-bar button {
    margin-top: 8px;
}

.photo-control-bar img {
    width: 34px;
    margin-right: 10px;
}

.photo-control-bar .counter {
    display: inline-block;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    text-align: center;

}

.alerts {
    position: absolute;
    margin-top: 62px;
    left: calc(50% - 195px);
    z-index: 1900;
}

.alert {

}

.pager-container {
    position: fixed;
    top: 70px;
    width: 100%;
    padding: 0 10%;
    opacity: 0;
}

.pager-container .page-count {
    /*text-align: center;*/
}

.fade-in {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/*.pager li>a, .pager li>span {*/
    /*background-color: #4C4B4F;*/
/*}*/

/*.pager a {*/
    /*color: white;*/
/*}*/

.delete-container {
    padding: 50px;
    text-align: center;
}

.delete-container.active {

}

.annotation {
    background-color: #4C4B4F;
    z-index: 2000;
    position: absolute;
    padding: 15px;
    border-radius: 4px;
}

.annotation input[type=text] {
    display: inline-block;
    width: auto;
}

.annotation input[type=text]:first-child {
    margin-right: 10px;
}

.delete-container.hover {
    background-color: #808080
}

.delete-container img {
    width: 140px;
}

.delete-container.hover img {
    /*-webkit-box-shadow: 0px 0px 100px #ccc;*/
    /*border-radius: 60px 60px 40px 40px;*/
    /*background-color: #808080;*/
    width: 160px;
}

.counter-selected {
    left: 12px;
    top: 16px;
    background-color: #4C4B4F;
    border: 2px solid #000;
    color: #000;
}

.counter-my-photos {
    color: #5cb85c;
    border: 2px solid #5cb85c;
    right: 15px;
    bottom: 5px;
    background-color: white;
}

.sidebar {
    display: none;
    margin-top: 50px;
    height: 100%;
    width: 15%;
    right: 0;
    position: fixed;
    background: #4C4B4F;
    border-left: 1px solid #080808;
    opacity: 0.25;
}

.sidebar.active {
    opacity: 1;
}

.dropdown {
    margin-top: 8px;
    float: right;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}