<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ngFlickrITU" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ngFlickrITU" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ngFlickrITU" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ngFlickrITU" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ngFlickrITU</title>
  <meta name="description" content="Super Flickr SPA">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="jqueryui_custom/jquery-ui.min.css">
    <link rel="stylesheet" href="jqueryui_custom/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div class="navbar-wrapper" ng-controller="NavbarCtrl">
      <div class="container">

          <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">ngFlickrITU <span app-version></span></a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                          <li ng-class="{ active: isActive('/find-photos')}">
                              <div ng-hide="!isLoading" style="width: 106px"><img style="width: 62px; margin-left: 22px" src="images/eye.gif"></div>
                              <a ng-hide="isLoading" href="#/find-photos">Find Photos</a></li>
                          <li ng-class="{ active: isActive('/my-photos')}"><a href="#/my-photos">My Photos</a></li>
                      </ul>
                      <form class="navbar-form navbar-left" role="search" ng-submit="onSearchClicked()">
                          <div class="form-group">
                              <input type="text" ng-model="queryString" class="form-control" placeholder="Search">
                          </div>
                          <div class="btn-group">
                              <button type="submit" class="btn btn-primary" ng-bind="'Search: ' + imageSize.tip"></button>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li class="dropdown-submenu">
                                      <a tabindex="-1" href="">Image Sizes</a>
                                      <ul class="dropdown-menu">
                                          <li ng-class="{ active: sizeIsActive(size)}"
                                                ng-repeat="size in imageSizes"><a tabindex="-1" href=""
                                                ng-click="changeImgSize(size)">{{size.text}}</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                      </form>
                      <div class="dropdown">
                          <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                              Options <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                              <li role="presentation" ><a href="" role="menuitem" tabindex="-1"
                                                         ng-bind="toggleImgTextOptText()"
                                                         ng-click="toggleImgText()" ></a></li>
                              <li role="presentation"><a href="" role="menuitem" tabindex="-1" ng-click="clearMyPhotos()">Clear MyPhotos</a></li>
                              <li role="presentation"><a href="" role="menuitem" tabindex="-1" ng-click="clearAnnotations()">Clear Annotations</a></li>
                              <li class="divider"></li>
                              <li class="dropdown-submenu">
                                  <a tabindex="-1" href="">Change Scrapbook Background</a>
                                  <ul class="dropdown-menu">
                                      <li ng-class="{ active: bgIsActive(1)}"><a tabindex="-1" href="" ng-click="changeBG(1)">Scrapbook 1</a></li>
                                      <li ng-class="{ active: bgIsActive(2)}"><a href="" ng-click="changeBG(2)">Scrapbook 2</a></li>
                                      <li ng-class="{ active: bgIsActive(3)}"><a href="" ng-click="changeBG(3)">Scrapbook 3</a></li>
                                      <li class="divider"></li>
                                      <li ng-class="{ active: bgIsActive(4)}"><a href="" ng-click="changeBG(4)">Frame 1</a></li>
                                      <li ng-class="{ active: bgIsActive(5)}"><a href="" ng-click="changeBG(5)">Frame 2</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                      <div class="photo-control-bar">
                          <div class="counter counter-selected">
                              <span ng-bind="bucketSize"></span>
                          </div>
                          <img src="images/stack21.svg">
                          <button type="button" class="btn btn-success add-to-bucket" ng-click="onAddToMyPhotosClicked()">Add to MyPhotos</button>
                          <div class="counter counter-my-photos">
                              <span ng-bind="bucketSizeMyPhotos"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </nav>

      </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="jqueryui_custom/jquery-ui.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="app.js"></script>
  <script src="components/underscore-extensions.js"></script>
  <script src="components/find_photos/find-photos.js"></script>
  <script src="components/my_photos/my-photos.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
