
<div class="alerts">

    <div class="alert alert-info alert-dismissible" role="alert" ng-if="!knowsRotate">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="onHintClicked('knowsRotate')"><span aria-hidden="true">&times;</span></button>
        <strong>Hint!</strong> Hold shift while dragging an image to rotate it.
    </div>
    <div class="alert alert-info alert-dismissible" role="alert" ng-if="!knowsAnnotate">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="onHintClicked('knowsAnnotate')"><span aria-hidden="true">&times;</span></button>
        <strong>Hint!</strong> Double click the background to annotate it.
    </div>
</div>

<aside class="sidebar">

    <div class="delete-container" droppable>
        <img src="../../images/delete96.svg">
    </div>
</aside>

<div class="container-fluid my-photos">
    <canvas id="imgCanvas" height="900px" style="position: absolute; z-index: 1000" drawable></canvas>
    <div class="images" style="z-index: 1500; position: relative">
        <figure class="flickr-img-container" ng-click="onPhotoClicked(photo)" ng-repeat="photo in myPhotos"
             repeat-post-process draggable>
            <img class="img-thumbnail" ng-src="{{photo.url}}">
            <figcaption ng-hide="!showImgText" class="img-title">{{photo.title}}</figcaption>
        </figure>
    </div>
</div>
